{% extends "base.html" %}

{% block content %}

<h1>{{ user }}'s messages</h1>

{% include "pagination.html" %}

{% for msg in msgs.object_list %}
  <p class="msg">
    <span class="text">{{ msg.msg }}</span> <span class="date">{{ msg.date|timesince }} ago</span>
  </p>
{% endfor %}

{% include "pagination.html" %}

<p>Following {{ followers.count }}:
{% for u in following %}
  <a href="{% url user-page u %}">{{ u }}</a>
{% endfor %}
</p>

<p>Followed by {{ followers.count }}:
{% for u in followers %}
  <a href="{% url user-page u %}">{{ u }}</a>
{% endfor %}
</p>

<p><a href="{% url logged-in user %}">View {{ user }}'s logged in page</a></p>

{% endblock %}
