{% extends "base.html" %}

{% block content %}

<h1>{{ user }}'s messages</h1>

{% with msgs as pagination %}
  {% include "pagination.html" %}

  {% for msg in msgs.object_list %}
    <p class="msg">
      <span class="text">{{ msg.msg }}</span> <span class="date">{{ msg.date|timesince }} ago</span>
    </p>
  {% endfor %}

  {% include "pagination.html" %}
{% endwith %}

<p>Following {{ following.count }}:
{% for u in following %}
  <a href="{% url user-page u %}">{{ u }}</a>
{% endfor %}
</p>

<p>Followed by {{ followers.count }}:
{% for u in followers %}
  <a href="{% url user-page u %}">{{ u }}</a>
{% endfor %}
</p>

<form action="{% url intersection %}" method="get">
<p>View the intersection between {{ user }}'s following and
  <input type="hidden" name="a" value="{{ user }}"/>
  <select name="b">
    {% for user in users %}
      <option>{{ user }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Go"/>
</p>
</form>

<p><a href="{% url logged-in user %}">View {{ user }}'s logged in page</a></p>

{% endblock %}
